.Mainbar {
  display:flex;
  flex-direction: row;
}

.Logo {
  width: 4.728rem;
  height: 2.363rem;
  margin-top: 1.179rem;
  margin-left: 8.104rem;
  object-fit: contain;
}

.Contact {
  display: flex;
  width: 8.688rem;
  height: 2.625rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.563rem;
  margin-right: 8.125rem;
  margin-left: 73.188rem;
  border: solid 1px #ffffff;
  color: #ffffff;
}
